
.d3-component svg {
  background: #ddd;
  max-height: 300px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}

/* Formatting text portion for tutorial */
.gif {
  max-width: 28vw;
}

.arrow {
  transform: scale(0.5);
}

/* Center imgs */
.gif, .arrow, figcaption {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: black;
  text-decoration: underline;
}

figcaption {
  max-width: 30vw;
  text-align: center;
  font-size: 0.8em;
}

h1, h2, h3 {
  font-family: Verdana, Geneva, sans-serif;
}

.text p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.idyll-step {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}


.idyll-root {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0;
  margin-bottom: 60px;
}

/* Some formatting for the scroll and step boxes */
.idyll-scroll {
  margin-top: 0; 
  width: 100vw;
}

.idyll-scroll-text .idyll-step {
  max-width: 45vw;
  position: relative;
  top: -150vh;
  padding: 5vw;
  margin-left: 3vw;
}

@media only screen and (min-width: 600px) {
  .idyll-scroll-text .idyll-root {
    margin-left: 0;
  }
}

/* CSS for scroller portion of tutorial to follow along */
.bar, .circle {
  margin-left: 42vw;
  background: transparent;
  transition: 400ms linear all;
}

@media only screen and (min-width: 992px) {
  .bar, .circle {
    margin-left: 75vw;
  }

  .idyll-step {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .bar, .circle {
    margin-left: 68vw;
  }

  .idyll-step {
    font-size: 14px;
  }

  .idyll-scroll-text .idyll-step {
    max-width: 40vw;
  }
}

.circle {
  height: 35vh;
}

.bar {
  width: 25vw;
  height: 10vh;
}

.rotate1 {
  transform: rotate(90deg);
}

.rotate2 {
  transform: rotate(210deg);
}

.enlarge1 {
  transform: scale(2);
}

.enlarge2 {
  transform: scale(2.2);
}

#idyll-scroll-0 .idyll-scroll-graphic {
  background:  #F0F0F0;
}

#idyll-scroll-1 .idyll-scroll-graphic {
  background: #5BAFC1;
}