/* Formatting text portion for tutorial */
.gif {
  margin-top: 3vh;
  width: 60vw;
}

.arrow {
  transform: scale(0.5);
}

.idyll-text-container {
  width: 80vw;
  max-width: 80vw !important;
}

/* Center imgs */
.gif, .arrow, figcaption {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Some text and pre formatting */
a {
  color: black;
  text-decoration: underline;
}

figcaption {
  max-width: 30vw;
  text-align: center;
  font-size: 0.8em;
}

h1, h2, h3 {
  font-family: Verdana, Geneva, sans-serif;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.3em;
  color: #5BAFC1;
}

.byline {
  font-size: 0.9em;
  background-color: none;
}

.text p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.emphasize {
  background-color: rgb(248, 241, 201);
  color: black;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.25em;
}

.idyll-step {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}

.highlight pre, .code pre {
  height: 50vh;
}


.idyll-root {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0;
  margin-bottom: 60px;
}

/* Some formatting for the scroll and step boxes */
.idyll-scroll {
  margin-top: 0; 
  width: 100vw;
}

/* Move the steps up and shorten them */
.idyll-scroll-text .idyll-step {
  max-width: 45vw;
  position: relative;
  top: -150vh;
  padding: 5vw;
}

/* Decrease the margin depending on window size for steps */
@media only screen and (min-width: 600px) {
  .idyll-text-container {
    width: 50vw;
  }

  .gif {
    width: 40vw;
  }
}

/* CSS for scroller portion of tutorial to follow along */
.bar, .circle {
  margin-left: 45vw;
  background: transparent;
  transition: 400ms linear all;
}

@media only screen and (min-width: 992px) {
  .bar, .circle {
    margin-left: 75vw;
  }

  body, p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 25px;
  }

  pre {
    font-size: 20px;
  }

  .idyll-text-container {
    width: 40vw;
  }
}

@media only screen and (min-width: 768px) {
  .bar, .circle {
    margin-left: 68vw;
  }


  .idyll-step {
    font-size: 14px;
  }

  .idyll-scroll-text .idyll-step {
    max-width: 40vw;
  }
}

/* Format the graphics */
.circle {
  height: 35vh;
}

.bar {
  width: 25vw;
  height: 10vh;
}

/* Animations */
.rotate1 {
  transform: rotate(90deg);
}

.rotate2 {
  transform: rotate(210deg);
}

.enlarge1 {
  transform: scale(2);
}

.enlarge2 {
  transform: scale(2.2);
}

/* Change graphic background based on Scroller id */
#idyll-scroll-0 .idyll-scroll-graphic {
  background:  #F0F0F0;
}

#idyll-scroll-1 .idyll-scroll-graphic {
  background: #5BAFC1;
}